./__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
.cache
.env
.env.*
!.env.template
.venv/
env/
venv/
.idea/
.vscode/
.ipynb_checkpoints/
*.log
*.sqlite3
*.db
config.py

**/__pycache__/
